@{ ViewBag.Title = "Home Page"; }

<body>

    <main>

        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="">
                        <img src="/Content/images/Mercedes.png" class="d-block w-100" alt="...">
                    </a>

                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="">
                        <img src="/Content/images/Stroll.png" class="d-block w-100" alt="...">
                    </a>

                    <div class="carousel-caption d-none d-md-block">

                    </div>
                </div>
                <div class="carousel-item">
                    <a href="">
                        <img src="/Content/images/Belgique.png" class="d-block w-100" alt="...">
                    </a>

                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>



        <div class="container marketing">

            <div class="row">
                <div class="col-lg-4">
                    <img src="/Content/images/Hamilton.png"class="bd-placeholder-img rounded-circle" width="140" height="140"  role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <h2>Lewis Hamilton</h2>
                    <p>Lewis Carl Davidson Hamilton, né le 7 janvier 1985 à Stevenage dans le Hertfordshire en Angleterre, est un pilote automobile britannique, septuple champion du monde de Formule 1 en 2008, 2014, 2015, 2017, 2018, 2019 et 2020. Recordman du nombre de pole positions (98), du nombre de podiums (164), de courses terminées dans les points (228), du nombre de points en une saison (413), du nombre de points en carrière (3 738) ainsi que du nombre de victoires (95, dont 74 pour la même écurie), il est à ce jour, le pilote le plus titré de l'histoire de la discipline, en compagnie de Michael Schumacher, avec sept titres mondiaux.</p>
                </div>
                <div class="col-lg-4">
                    <img src="/Content/images/Vettel.png" class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <h2>Sebastian Vettel</h2>
                    <p>Sebastian Vettel, né le 3 juillet 1987 à Heppenheim en Allemagne est un pilote automobile allemand, vainqueur quatre fois consécutivement du championnat du monde de Formule 1, en 2010, 2011, 2012 et 2013 comme seuls avant lui l'avaient été Juan Manuel Fangio et Michael Schumacher.</p>
                </div>
                <div class="col-lg-4">
                    <img src="/Content/images/Max.png" class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <h2>Max Verstappen</h2>
                    <p>Max Verstappen, né le 30 septembre 1997 à Hasselt, est un pilote automobile belgo-néerlandais courant sous licence néerlandaise. Il est le fils de Jos Verstappen, pilote de Formule 1 de 1994 à 2003. Il fait ses débuts en Formule 1 en 2015 avec l'équipe Scuderia Toro Rosso. Il est, à 17 ans et 166 jours, le plus jeune pilote de l'histoire à prendre le départ d'un Grand Prix, puis le plus jeune pilote de l'histoire à marquer des points en Grand Prix.</p>
                </div>


            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading"> Mercedes champion du monde constructeur !</h2>
                    <p class="lead">Invaincues depuis 2014, les Flèches d'Argent partageaient jusqu'à aujourd'hui le record de six titres consécutifs avec la Scuderia Ferrari, sacrée sans la moindre interruption entre 1999 et 2004.</p>
                </div>
                <div class="col-md-5">
                    <img src="/Content/images/Mercedes1.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" />

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Premier podium pour Renault !</h2>
                    <p class="lead">Après une course combattive, Daniel Ricciardo est enfin parvenu à décrocher un podium pour le Renault F1 Team, le premier du constructeur français depuis… la Malaisie en 2011 !</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="/Content/images/Renault.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" />
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Première victoire pour Pierre Gasly et Alpha Tauri!</h2>
                    <p class="lead">Pierre Gasly (Alpha Tauri) a remporté un Grand Prix d’Italie mouvementé, dimanche à Monza. C’est le premier succès pour le Français de 24 ans, victorieux du huitième rendez-vous du championnat du monde de Formule 1. Il a devancé l’Espagnol Carlos Sainz Jr (McLaren) et le Canadien Lance Stroll (Racing Point). Pénalisé, le champion du monde anglais Lewis Hamilton (Mercedes) a dû se contenter de la 7e place.</p>
                </div>
                <div class="col-md-5">
                    <img src="/Content/images/Alpha_Tauri.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" />

                </div>
            </div>

            <hr class="featurette-divider">


        </div>
    </main>


</body>